html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #fff;
  height: 90px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

nav img {
  height: 80px;
  margin-left: 20px;
  padding: 15px;
  width: 200px;
}

nav ul {
  float: right;
  padding-right: 20px;
}

nav ul li {
  display: inline;
  font-size: 20px;
  line-height: 90px;
  padding: 0 18px;
}

nav ul li a {
  color: #111;
  text-decoration: none;
}

.headline-subheadline {
  background-image: url(../images/landing.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 120px;
  height: 700px;
  color: #fff;
  text-align: center;
}

.headline-subheadline h1 {
  font-size: 75px;
  font-weight: bold;
  padding-top: 185px;
}

.headline-subheadline h2 {
  font-size: 28px;
  padding-top: 20px;
}

.on-spotify {
  margin-bottom: 50px;
  padding-top: 20px;
  text-align: center;
}

.on-spotify h3 {
  border-bottom: 5px solid #1ea758;
  display: inline-block;
  font-size: 35px;
  font-weight: 900;
  line-height: 60px;
}

.icon img {
  height: 95px;
  width: 110px;
}

.icon {
  box-sizing: border-box;
  float: left;
  padding: 0 95px;
  width: 33%;
}

.three-sections {
  background-color: #fff;
  height: 450px;
  margin: auto;
  text-align: center;
}

.features {
  overflow: hidden;
  background-color: #1ea758;
  color: #fff;
  margin: 50px;
  padding: 60px 90px;
  position: relative;
}

.text {
  float: left;
  width: 40%;
}

.text h3 {
  border-bottom: 4px solid #fff;
  display: inline-block;
  line-height: 60px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.text h4 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
}

.text p {
  font-size: 20px;
  line-height: 30px;
  padding-right: 40%;
}

.mobile-app {
  float: right;
  padding-top: 20px;
  width: 350px;
}

.logo {
  position: absolute;
  height: 120px;
  left: 44%;
  top: 45%;
  width: 120px;
}
